@font-face {
    font-family: "signature";
    src: url('police/signature.ttf');
}

@font-face {
    font-family: "fabiana";
    src: url('police/fabiana.ttf');
}

body {
    background: #FDBFB7;
    margin: 0;
    background-image: url(image/img.jpg);
    background-repeat: no-repeat;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    display: table;
    width: 100%;
    line-height: 15%;
    background: gray;
    margin-bottom: 20%;
    text-align: center;
}

.onglet {
    display: table;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background: #DE3163;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    ;
}

.onglet li {
    display: table-cell;
}

.onglet li a {
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
    padding: 8px 8px 17px 8px;
}

.onglet li a:hover,
.onglet li a:focus {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 0 -1px 0 hsl(342, 82%, 52%) inset, 0 -2px 0 hsl(342, 82%, 52%) inset, 0 -3px 0 hsl(342, 82%, 52%) inset, 0 -4px 0 hsl(342, 82%, 52%) inset, 0 -5px 0 hsl(342, 82%, 52%) inset;
}

.onglet li a:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
    box-shadow: 0 0 2px rgba(0, 0, 0, .3) inset;
}

h1 {
    color: #DE3163;
    font-family: "fabiana";
}

p {
    color: black;
    text-align: center
}